.aboutpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abouthead{
    position: relative;
    margin-top: 3rem;
    font-family: 'Grtsk';
    font-weight: 700;
    font-size: 50px;
    line-height: 42.5px;
    color: rgba(151, 121, 245, 1);
    text-align: center;
    margin-bottom: 3rem;
}
.headtags{
    background-color: rgba(217, 217, 217, 1);
    height: 297px;
    width: 283px;
    border-radius: 21px;
}

.aboutimg{
    height: 297px;
    width: 283px;
    border-radius: 21px;
}

.aboutgrid{
    
    display: grid;
    /* height: 964px;
    width: 1238px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    /* margin-bottom: 5rem; */
    gap: 1.5rem;
}

.headdetails{
    position: relative;
    top: -5rem;
    left: 1.8rem;
    width: 230px;
    height: 64px;
    border-radius: 34px;
    border: 1.44px solid rgba(197, 182, 247, 1);
    background: linear-gradient(to bottom left,rgba(197, 182, 247, 1),  rgba(255, 255, 255, 1));
}
.headname{
    
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Grtsk';
    font-weight: 600;
    font-size: 16px;
    margin-top: 1rem;

}
.headrank{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Grtsk';
    font-weight: 600;
    font-size: 15px;
    color: rgba(151, 121, 245, 1);
}

.modulesection{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.module{
    position: relative;
    margin-top: 3rem;
    font-family: 'Grtsk';
    font-weight: 700;
    font-size: 50px;
    line-height: 42.5px;
    color: rgba(151, 121, 245, 1);
    text-align: center;
    margin-bottom: 6rem;
}

.modulegrid{
    
    display: grid;
    /* height: 2500px;
    width: 1200px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 1.5rem;
    /* margin-left: 11rem ;  */
}
.moduletags{
    background-color: rgba(68, 67, 67, 1);
    height: 539px;
    width: 562px;
    border-radius: 21px;
    margin: 0;
    padding: 0;
}
.moduledetails{
   
    height: 170px;
    width: 549px;
    background-color: white;
    border-radius: 16px;
    position: relative;
    left: 6px;
    transition: 0.5s;
    
}
.modulename{
    text-align: center;
    margin: 0;
    padding: 3rem 0 0 0;
    font-family: 'Grtsk';
    font-weight: 700;
    font-size: 64px;
    margin-top: 1rem;
    transition: 0.5s;
}
.manager{
    font-size: 30px;
    font-family: "Grtsk";
    font-weight: 600;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    position: relative;
    top: -7rem;
    padding-left: 2rem;
}
.managerlist{
    font-size: 19px;
    font-family: "Grtsk";
    font-weight: 400;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    position: relative;
    top: -7rem;
}
.moduledetails:hover{
    height: 525px;
    transform: translateY(-355px);
    /* background-color: rgba(255, 255, 255, 0.5); */
}
.moduledetails:hover .manager{
    visibility: visible;
    opacity: 1;
    transform: translateY(90px);
}
.moduledetails:hover .managerlist{
    visibility: visible;
    opacity: 1;
    transform: translateY(90px);
}
.moduledetails:hover .modulename{
    transform: translateY(-30px);
}
@media screen and (max-width: 600px){
    .events{
        display: flex;
    }
    .aboutpage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .abouthead{
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .aboutgrid{
        display: grid;
        height: auto;
        width: auto;
        grid-template-columns: 1fr ;
        grid-template-rows: auto; 
        margin: 0 auto;
        grid-row-gap: 1.5rem;
        /* margin-bottom: 5rem; */
    }
    .module{
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .modulegrid{
        display: grid;
        height: auto;
        width: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 1.5rem ;
        margin: 0 auto;
    }
    .moduletags{
        background-color: rgba(68, 67, 67, 1);
        height: 300px;
        width: 300px;
        border-radius: 21px;
        margin: 0 0 0 6px;
        padding: 0 0 0 0 ;
    }
    .moduleimg{
        height: 300px;
        width: 300px;
        position: relative;
        bottom: 2rem;
        
    }
    .moduledetails{
        height: 60px;
        width: 288px;
        background-color: white;
        border-radius: 16px;
        position: relative;
        bottom: 5.5rem;
        transition: 0.5s;
    }

    .modulename{
        padding: 0;
        font-size: 32px;
    }

    .moduledetails:hover{
        height: 288px;
        transform: translateY(-225px);
    }

    .moduledetails:hover .manager{
        transform: translateY(120px);
    }
    .moduledetails:hover .managerlist{
        transform: translateY(140px);
    }
    .moduledetails:hover .modulename{
        transform: translateY(10px);
    }
    .managerlist{
        font-size: 12px;
        top: -10rem;
    }
    .manager{
        font-size: 24px;
        top: -8rem;
    }
}