@media screen and (max-width: 600px) {
    .footer {
        padding: 5vh 5vw;
        flex-direction: column;
    }

    .left {
        width: 100%;
        justify-content: center;
    }

    .left img {
        width: 20vw;
    }

    .right {
        text-align: center;
        width: 100%;
        margin-top: 4vh;
    }
}