.SponList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 80vw;
    max-width: 100vw;
    

}
.spname{
    width: 20vw;
    background-color: antiquewhite;
    height: 30vh;
}
.Sponsers{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.coinpurpl{
    position: relative;
    top: -18vh;
    transform: rotate(90deg);
    z-index: -1;
    left: -30vw;
}
.coin{
    height: 80px;
}
.viewall{
    border-radius: 10px;
    width: 20vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
background: var(--Purp, #9779F5);
color: white;
box-shadow: 0px 4px 6.4px 0px rgba(0, 0, 0, 0.16);
}
.samosa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 23vw;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .Sponsers{
        margin-top: 10vh;
    }

    .sponText{
        width: 100%;
        font-size: 40px;
        margin: 10px;
        text-align: center;
    }

    .coinpurple{
        display: none;
    }

    .coinpurpl{
        display: none;
    }

    .SponList {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .spname{
        width: 80vw;
        height: 30vh;
        margin-top: 5vh;
    }

    .samosa{
        width: 80vw;
        margin-top: 5vh;
        justify-content: center;
    }

    .viewall{
        width: 60vw;
        margin: 0 10px;
    }
}