.containerterm{
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 90px;
   
}
.termheading{
    position: relative;
    margin-top: 3rem;
    font-family: 'Grtsk';
    font-weight: 700;
    font-size: 50px;
    line-height: 42.5px;
    color: rgba(151, 121, 245, 1);
    text-align: center;
    margin-bottom: 4rem;
}
.headingsection{
    
    margin-top: 4rem;
    font-family: 'Grtsk';
    font-weight: 600;
    font-size: 35px;
    line-height: 42.5px;
    color: rgba(151, 121, 245, 1);
    text-align: left;
    margin-bottom: 1rem;
    justify-content: left;
}
.texts{
    align-items: center;
    padding-top: 100px;
}

@media (max-width:600px)
{
    .termheading{
        font-size: xxx-large;
    }
.containerterm{
    padding:0 10%;
}
}