.tilt {
    transition: all 0.1s ease;
    cursor: pointer;
    /* width: 40vw; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tilt__content {
    width: 300px;
}

.tilt img {
    width: 100%;
    z-index: 100;
}

.tilt img:hover {
    transform: scale(1.1);
}

.UdgamPass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
    padding: 5vh 10vw;
}

.UdgamPass .benefitleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.UdgamPass .benefitright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.benefit1, .benefit2, .benefit3, .benefit4 {
    position: relative;
    border: 3px solid #9779F5;
    border-radius: 10px;
    padding: 12px;
    margin: 2%;
    z-index: 4;
}

.benefittitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px;
}

.benefitdesc {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px;
}


.benefit1{
    /* position: relative;
    top: -5vh;
    left: 4vw; */
    width: 18vw;
}

.benefit2{
    /* position: relative;
    top: 20vh;
    left: 8vw; */
    width: 20vw;
}

.benefit3{
    /* position: relative;
    top: 0vh;
    right: 14vw; */
    width: 20vw;
}

.benefit4{
    /* position: relative;
    top: 20vh;
    right: 14vw; */
    width: 18vw;
}

.b1,.b2,.b3,.b4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow1, .arrow2, .arrow3, .arrow4 {
    /* display: none; */
    /* width: 60%; */
    z-index: -1;
    /* height: 100%; */
    /* overflow-x: hidden; */
}

.arrow1 {
    /* position: relative;
    top: 15vh;
    left: 1vw; */
}

.arrow2 {
    /* position: relative;
    top: 9vh;
    left: -4vw; */
}

.arrow3 {
    /* position: relative;
    top: 20vh;
    right: 1vw; */
    rotate: 180deg;
}

.arrow4 {
    /* position: relative;
    top: 8vh;
    right: -4vw;
    width: 30vw; */
    rotate: 180deg;
}

.platformdiv{
    display: none;
}

.buypasstitle{
    width: 80%;
    color: rgba(65, 65, 65, 1);
    font-size: 76px;
    font-weight: 600;
    font-family: 'Grtsk';
    font-size: 76px;
    padding: 0 10vw;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    font-size: 1.8rem;
}

.coupon{
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .whIsUdg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tilt {
        width: 60vw;
    }
    .platformdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50vh;
    }

    .platform{
        display: block;
        width: 120%;
        object-fit: contain;
        margin-top: 0rem;
    }

    .UdgamPass{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10vh;
    }

    .UdgamPass .benefitleft,.UdgamPass .benefitright{
        flex-direction: row;
    }

    .benefit1, .benefit2, .benefit3, .benefit4 {
        width: 40vw;
    }

    .arrow1, .arrow2, .arrow3, .arrow4 {
        display: none;
    }

    .benefittitle {
        font-size: 1.2rem;
    }

    .benefitdesc {
        font-size: 0.7rem;
    }

    .price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10%;
        font-size: 1.2rem;
    }

    .buypasstitle{
        font-size: 50px;
        width: 100%;
        text-align: center;
    }
}