@font-face {
    font-family: 'GRTSK';
    src: url('../fonts/GRTSK\ font.ttf');
  }

.UDGAM24Purp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.UDGAM24Purp p {
    height: 20vh;
    width: 70vw;
    padding: 2vw 1vw;
    font-size: 1.2rem;
}

.whatis {
    font-family: GRTSK;
    color: #4E4E4E;
    font-weight: 600;
    margin: 15px;
}

.maskgroup img {
    width: 100vw;
}